@import "../../../styles/partials/colors";
@import "../../../styles/partials/layout";
@import "../../../styles/partials/fonts";

.ubuntu-cont {
  background: no-repeat center center;
  width: 100vw;
  height: calc(100vh - 30px);
  background-size: cover;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  .apps-cont {
    flex-wrap: wrap-reverse;
    margin-left: auto;
    z-index: 2;
    .app {
      padding: $xSmall;
      width: $iconWidth;
      height: $iconHeight;
      border-radius: $xSmall;
      .app-icon {
        width: $xxxLarge;
        height: $xxxLarge;
        margin-bottom: $small;
      }
      .app-name {
        font-size: 12px;
      }
      &:hover {
        background: rgba($white, 0.2);
      }
      &:active {
        background: rgba($primaryColor, 0.4);
      }
    }
  }
  .right-menu {
    background-color: $windowBg;
    position: absolute;
    display: none;
    padding: $medium 0;
    width:13rem;
    border-radius: $small;
    .section {
      .divider {
        height: 1px;
        width: 30%;
        background: $windowHighlight;
        margin: $small auto;;
      }
      .disabled {
        color: $windowDisabled;
        &:hover {
          background-color: none;
        }
      }
      .enabled:hover {
          background-color: $windowHighlight;
      }
      .item {
        padding: $small $xxLarge $small $xLarge;
        font-weight: $light;
        font-size: $secondary;
      }
    }
  }
  .show {
    display: flex;
  }
}
