@import "../../../styles/partials/colors";
@import "../../../styles/partials/layout";

.cont {
  padding: $xxLarge $small;
  height:100%;
  .top-image {
    height: 40%;
  }
  .break {
    background-color: $darkGrey;
    width: 100%;
    height: $xxSmall;
    margin: $medium auto;
  }
  .gallery {
    margin: $medium $xxxxxLarge;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 40%);
    gap: $xSmall;
    .wallpaper {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
      border: 5px transparent solid;
      &:hover {
        border: 5px $primaryColor solid;

      }
    }
  }
}
