@import "../../../styles/partials/colors";
@import "../../../styles/partials/layout";
@import "../../../styles/partials/fonts";

.nav-list {
  width: 20%;
  .selected {
    background-color: $primaryColor;
    &:hover {
      background-color: $primaryColor;
    }
  }
  .deselected {
    &:hover {
      background-color: $windowHighlight;
    }
  }
  .nav-item {
    padding: $medium;
    transition: 0.1s ease;
    .nav-icon {
      width: $large;
      height: $large;
      margin-right: $small;
    }
  }
}
.content-cont {
  width: 80%;
  overflow: scroll;
  background-color: $windowContent;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.content {
  padding: $xLarge $medium $large;
}
.about-me-cont {
  .dev-img {
    width: 20%;
    border-radius: 50%;
  }
  .name {
    font-size: $blockHeading;
    font-weight: $bolder;
    margin: $medium 0;
  }
  .position {
    margin: $medium 0;
    letter-spacing: 1.5px;
  }
  .social {
    margin: $xxxxLarge 0;
    .social-link {
      width: $xxxLarge;
      height: $xxxLarge;
      margin: 0 $medium;
    }
  }
  .menu-cont {
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    .highlighted {
      background-color: $windowHeader;
      &:hover {
        background-color: $windowHeader;
      }
    }
    .simple {
      cursor: pointer;
      &:hover {
        background-color: $windowHighlight;
      }
    }
    .link-cont {
      justify-content: center;
      padding: $xLarge;
      border-radius: $small;
      width: $xxxxxxLarge;
      margin: $medium;
      margin: 0 auto;

      .icon {
        width: $xxxLarge;
        margin: $medium 0;
      }
    }
  }
}

.skills-cont {
  .category {
    margin: $large 0;
    .category-label {
      font-size: $blockHeading;
      font-weight: $bolder;
      margin: $medium 0;
    }
    .skills-list {
      margin: $xLarge 0;
      .skill {
        width: $xxxxxxLarge;
        height: $xxxxxxLarge;
        padding: $medium;
        border-radius: $small;
        &:hover {
          background: $windowHighlight;
        }
        .skill-icon {
          width: $xxxxxLarge;
          height: $xxxxxLarge;
          margin-bottom: $medium;
        }
        .skill-name {
          font-weight: $bold;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}

.projects-cont {
  .project {
    margin-bottom: $xLarge;
    padding: $medium;
    border-radius: $small;
    background-color: rgba($windowHighlight, 0.05);
    box-shadow: 0px 0px 5px $windowHighlight;
    transition: 0.2s ease-out;
    animation: appear 1s ease-in-out;
    // animation-iteration-count: 1;

    &:hover {
      box-shadow: 0px 0px 15px 5px $windowHighlight;
      transform: scaleY(1.01);
    }
    .project-icon {
      width: $xxxxxLarge;
      height: $xxxxxLarge;
      margin-right: $large;
      border-radius: $medium;
    }
    .details {
      flex: 1;
      .name {
        font-size: $blockHeading;
      }
      .description {
        font-size: $primary;
        margin: $medium 0;
        color: rgba($white, 0.5);
        line-height: 1.2;
      }
      .stack {
        margin: $small 0;
        .tech {
          height: $xxLarge;
          margin-right: $small;
        }
      }
    }
    .source-code {
      width: $xxLarge;
      height: $xxLarge;
      margin-left: $medium;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
